/* body{ 
    transition: all 0.3s ease-in-out;
}
:root{
    font-family: "Viga", sans-serif;
    font-weight: 400;
    font-style: normal;
   --font1: "Viga", sans-serif ;
   --cor0: #FB6204;
   --cor4: white;/*#89FFDB
}
.dark .bi-sun {
    display: none;
} 
.dark .bi-moon {
    display: block;
}
.dark{
    background: var(--cor6);
}
.dark header{
  color: var(--cor2);
}
.dark #hamburguer{
  border-top: 5px solid var(--cor2);
}
.dark #hamburguer::before, .dark #hamburguer::after{
  background: var(--cor2);
}
.dark .navbar{
  background: var(--cor6);
}
.dark .typing-effect{
  color: var(--cor2);
}
.dark .navbar a{
  color: var(--cor2);
}
.dark .navbar a:hover{
  border-bottom: var(--cor2);
}
.dark .head{
  box-shadow: 0 30px 50px var(--cor1);
}
.dark span{
  text-shadow: 0 10px 35px var(--cor1);
}
.dark .small-text p{
  color: #fff;
}
.dark .about{
  background:#242527 ;
  color: var(--cor2);
}
.dark .about-ttl{
  text-shadow: 0 10px 30px var(--cor1);
}
.dark .about-socialmedia{
  color: #fff;
}
.dark .fa-brands{
  color: #fff;
}
.dark .linkedin, 
.dark .insta,
.dark .github{
  background: #4e525f;
  box-shadow: 0 30px 50px var(--cor1);
}
.dark .link a{
  border: 2px solid var(--cor2);
  color: #fff;
}
.dark .link a:hover{
   background: var(--cor2);
   color: var(--cor3);
}
.dark .skills{
   color: var(--cor2);
}
.dark .skill-title{
  text-shadow: 0 10px 30px var(--cor1);
}
.dark .skill-card{
  background: #252830;
  box-shadow: 0 30px 50px var(--cor1);
}
.dark .skill-porcent1::before{
  background-color: #252830;
}
.dark .skill-porcent2::before{
  background-color: #252830;
}
.dark .skill-porcent3::before{
  background-color: #252830;
}
.dark .progress-value1,
.dark .progress-value2,
.dark .progress-value3{
  color: var(--cor2);
}
.dark .projects-title{
  color: var(--cor2);
  text-shadow: 0 10px 30px var(--cor1);
}
.dark .slide{
  box-shadow: 0 5px 10px var(--cor1);
}
.dark .link-github{
  border: 1px solid var(--cor2);
}
.dark .link-github .fa-brands a{
  color: var(--cor2);
}
.dark .footer{
  background-color: #242527;
}
.dark .pagina-container a{
   color: var(--cor2);
}
.dark .social-media-container ul{
  border-bottom: 1px solid var(--cor2);
}
.dark .social-media-container i{
  color: var(--cor2);
}
.dark .copy p{
   color: var(--cor2);
}
.dark .contact-title{
  color: var(--cor2);
}
.dark .forms input{
  background: var(--cor3);
  border: 2px var(--cor2) solid;
  color: var(--cor2);
}
.dark .forms textarea{
  background: var(--cor3);
  border: 2px var(--cor2) solid;
  color: var(--cor2);
}
.dark .forms button{
  background: var(--cor2);
  color: var(--cor3);
}