@media only screen and (max-width: 600px){
    .slider-wrapper{grid-template-columns:1fr!important}
     .about-photo{
        margin: 10% 0 0 10%;
    }
    .contact{height:auto;margin-top:100%}
}
@media only screen and (max-width: 992px){
    .bi{
        font-size:30px
    }
    .coding-circles ul{
        width:30%}
    .coding-circles li{
        height:2vh;
        width:2vh;
    }
    .head{
        padding:30px 0 50px;
    }
    .big-text{
        margin:20px 0 0 10%;
    }
    .typing-effect{
        font-size:16px;
    }
    .small-text p{
        font-size:12px;
    }
    #line li{
        height:15px;
    }
    .about-container{
        display: block;
        height: auto;
    }
    .about-ttl,.skill-title{
        font-size:16px
    }
    .about-txt{
        font-size:16px;
        margin:10% 0 0;
        padding-bottom:5%;
        width:90%;
    }
    .about-ttl{
        left:30%;
        top:60%;
    }
    .about-photo img{
        height:auto;
        width:100%;
    }
    .skills{
        height:auto;
    }
    .skills-container{
        width:80%;
        height:100%;
        margin: auto;
    }
    .skills-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .title-card{
        margin:10% 0 0 12%;
        font-size:16px;
    }
    .pagina-container ul{
        display:block;
        margin-left:40%;
    }
    .projects{
        margin:35% 0 10%
        ;height:auto;
    }
    .slider-container{
        height:auto;
        margin:10%;
    }

    .slider-wrapper{
        grid-template-columns:1fr 1fr;
    }
    .slide{
        height:100%;
        width:80%;
    }
    .contact{
        height:auto;
    }
    .forms input,textarea{
        width:40vh;
        margin:5% 0;
    }
    .forms button{
        padding:10px;
    }
    .footer{
        margin-top:50%;
    }
    .pagina-container li{
        margin-right:30px;
    }
    .social-media-container i{
        font-size:30px;
    }
}
@media screen and (max-width: 1020px){
    #btn-mobile{
        background:none;
        display:flex;
        border:none;
        padding:5%;
        position:absolute;
        right:5%;
        top:2%;
        z-index:1000;
    }
    #hamburguer{
        border-top:5px solid #FB6204;
        border-radius:2px;
        width:40px;
    }
    #hamburguer::before,#hamburguer::after{
        background:#FB6204;
        border-radius:8px;
        content:" ";
        display:block;
        height:5px;
        margin-top:5px;
        width:40px;
        position:relative;
        transition:.3s;
    }
    #nav.active #hamburguer{
        border-top-color:transparent;
    }
    #nav.active #hamburguer::before{
        transform:rotate(135deg);
    }
    #nav.active #hamburguer::after{
        transform:rotate(-135deg);
        top:-10px;
    }
    .navbar{display:none;
        background:#fff;
        width:100%;
        height:100vh;
        left:0;
        padding-left:10%;
        position:absolute;
        transition:.6s;
        top:16%;
        z-index:1000;
    }

    .navbar ul,li{
        display:block;
        padding-bottom:5%;
    }
    #nav.active .navbar{
        display:block
    }
    .theme{
        top:5%;
        left:15%
    }
    main{
        margin-top:20vh
    }
}
    
@media only screen and (max-width: 1920px){
    .small-text p{
        margin:1% 0 0 15%;
        width:90%;
    }
    #line li{
        height:14px
    }
}